body
{
    margin: 0 auto;
    padding: 0px;
}
.window
{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.inpt
{
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.graph
{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.col
{
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 15px;
    font-family: 'Segoe UI';
    
}
.wrapper
{
    display: flex;
    background-color: rgb(219, 219, 219);
    height: 400px;
    flex-direction: column;
    justify-content: end;
}
.bar
{
    height: 50%;
    background-color: rgb(87, 124, 248);
}
input
{
    padding: 5px;
    font-family: 'Segoe UI';
    font-size: 20px;
    align-items: center;
}
